/* LISTAS */
/* MAPAS */
/* EXTEND */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Press+Start+2P&family=Rubik+Mono+One&display=swap");
.titulo, .mapa, .contacto_css, .signupFrm, footer .footer-container, footer .footer-container .iconos {
  display: flex;
  justify-content: center;
  align-items: center; }

/* MIXIN */
/*! TIPOGRAFIA */
/*! RESET */
* {
  margin: 0;
  padding: 0; }

body h2 {
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  text-decoration: none;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  font-family: 'Rubik Mono One', sans-serif !important;
  font-size: 30px;
  padding: 2%;
  color: #ff1fff;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
  max-width: fit-content;
  text-align: center;
  background: white;
  background: linear-gradient(180deg, #ba18ffc2 0%, rgba(10, 6, 22, 0.779149) 20%, black 50%, rgba(10, 6, 22, 0.793155) 80%, #ba18ffde 100%); }
  body h2:hover {
    color: white !important;
    transition: all 0.2s ease;
    transform: translateY(-7px); }

.triangle {
  position: relative;
  background: #2c3e50;
  height: 5vh; }

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 100px 0 100px;
  border-color: #2c3e50 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(20%); }

.main-productos-abajo {
  background-color: black;
  padding: 30px; }
  .main-productos-abajo h2 {
    font-family: 'Rubik Mono One', sans-serif !important; }
  .main-productos-abajo p {
    color: white;
    text-align: center; }

/* WHATSAPP */
.fixed {
  position: fixed;
  bottom: 5%;
  right: 5%; }
  .fixed a img {
    width: 50px;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear; }
    .fixed a img:hover {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }

.boton {
  background-color: black;
  border: 1px solid #ff1fff;
  color: #ff1fff; }

header .navbar {
  --bs-navbar-brand-margin-end: 20% !important; }

header nav {
  background-image: url(../img/prism.png); }
  header nav .navbar-brand {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    margin-left: 10px; }
    header nav .navbar-brand .logo {
      width: 300px;
      display: inline-block; }
    header nav .navbar-brand span {
      font-weight: bold; }
  header nav .navbar-toggler:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
  header nav .navbar-toggler {
    background-color: rgba(138, 138, 138, 0.548); }
  header nav .nav-link {
    color: #ffffff;
    font-size: 20px; }
  header nav .dropdown-item {
    color: white; }
  header nav ul .dropdown-menu {
    font-size: 20px;
    --bs-dropdown-bg: #000000d9;
    --bs-dropdown-link-hover-bg: #fbff0dd5; }
  header nav .d-flex {
    display: flex;
    align-items: center; }
  header nav .btn {
    color: #ffffff;
    --bs-btn-bg: #00000045; }

.hero {
  background-image: url(../img/fondo1.jpg);
  background-position: center;
  background-size: contain; }
  .hero .novedad {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: black;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden; }
    .hero .novedad a {
      font-family: 'Inter', sans-serif;
      border-radius: 10px;
      text-decoration: none;
      transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
      border-radius: 10px;
      text-decoration: none; }
      .hero .novedad a:hover {
        color: white !important;
        transition: all 0.2s ease;
        transform: translateY(-7px); }
    .hero .novedad img {
      font-family: 'Inter', sans-serif;
      border-radius: 10px;
      text-decoration: none;
      transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1); }
      .hero .novedad img:hover {
        color: white !important;
        transition: all 0.2s ease;
        transform: translateY(-7px); }
  .hero .container-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    padding: 5%;
    background: rgba(255, 255, 255, 0.459);
    background: linear-gradient(180deg, #eb25ee36 0%, rgba(10, 6, 22, 0.779149) 20%, black 50%, rgba(47, 44, 56, 0.793) 80%, white 100%); }
    .hero .container-1 .presentacion__parrafo {
      display: inline;
      max-width: 90%;
      margin-bottom: 10%; }
      .hero .container-1 .presentacion__parrafo .welcome {
        color: #4d5fff;
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 30px; }
      .hero .container-1 .presentacion__parrafo p {
        font-size: 25px;
        text-align: center;
        font-family: 'Inter', sans-serif;
        color: #ffffff;
        font-weight: bold; }
    .hero .container-1 .suscribir {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .hero .container-1 .suscribir p {
        padding: 20px;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        color: #ffffff;
        background-color: #5947f83a;
        border-radius: 20PX;
        font-weight: 900;
        text-align: center; }
      .hero .container-1 .suscribir a {
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        text-decoration: none;
        transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
        font-family: 'Inter', sans-serif;
        padding: 20px;
        border-radius: 20px;
        display: inline-block;
        text-decoration: none;
        margin-top: 0%;
        max-width: 100%;
        height: auto; }
        .hero .container-1 .suscribir a:hover {
          color: white !important;
          transition: all 0.2s ease;
          transform: translateY(-7px); }

.productos-destacados {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  flex-wrap: wrap;
  margin: 0% auto; }

.productos {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  flex-wrap: wrap;
  margin: 5%; }
  .productos .card {
    width: 18rem;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 10px 10px 31px -8px rgba(151, 151, 151, 0.76);
    -webkit-box-shadow: 10px 10px 31px -8px rgba(131, 130, 130, 0.75);
    -moz-box-shadow: 10px 10px 31px -8px rgba(141, 141, 141, 0.75); }
    .productos .card .card-img-top {
      height: 230px;
      object-fit: contain; }
    .productos .card .card-body a {
      text-decoration: none; }
    .productos .card .card-text {
      color: #35c435;
      text-align: center;
      font-size: 15px; }

.popular {
  margin: 20px; }
  .popular p {
    text-align: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 20px; }

.varios ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none; }
  .varios ul img {
    width: 100px;
    margin: 0% auto; }

/** PAGE GALERIA **/
.grid_galeria {
  display: grid;
  justify-content: center;
  align-items: normal;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 10px;
  margin: 20px auto;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .grid_galeria .img_galeria img {
    margin: 1px;
    border-radius: 15px;
    background-color: #000000;
    -webkit-transition: 1s linear;
    transition: 0.5s linear;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75); }
    .grid_galeria .img_galeria img:hover {
      border-radius: 100px; }

/** PAGE NOSOTROS **/
.imagen-nosotros img {
  max-width: 100%;
  height: auto;
  padding: 20px; }

.imagen-nosotros .parrafo {
  color: #070707;
  font-family: 'Inter', sans-serif;
  text-align: left;
  flex-wrap: wrap;
  font-size: 20px; }
  .imagen-nosotros .parrafo p {
    padding: 30px; }

/** PAGE CONTACTO **/
.contacto_css {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-image: url(../img/fondo_oscuro.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .contacto_css .contact_form {
    width: 100%;
    max-width: 460px;
    border-radius: 10px;
    padding: 30px;
    background-color: #0000001a; }
    .contacto_css .contact_form .formulario input,
    .contacto_css .contact_form .formulario textarea {
      width: 100%;
      height: 40px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ae58ff;
      margin-top: 10px;
      margin-bottom: 20px; }
    .contacto_css .contact_form .formulario textarea {
      height: 150px;
      padding-top: 15px; }
    .contacto_css .contact_form .formulario label {
      display: block;
      text-align: center; }
    .contacto_css .contact_form .formulario button {
      height: 45px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 20px;
      margin-top: 10px;
      text-transform: uppercase;
      background-color: black;
      border-color: #ae58ff;
      border-style: solid;
      border-radius: 10px;
      width: 100%;
      cursor: pointer; }
      .contacto_css .contact_form .formulario button p {
        color: #b007ff;
        padding-top: 10px; }
    .contacto_css .contact_form .formulario h1 {
      font-family: 'Inter', sans-serif;
      font-size: 50px;
      text-align: center;
      padding-bottom: 20px;
      color: #b007ff; }
    .contacto_css .contact_form .formulario h3 {
      font-size: 16px;
      padding-bottom: 30px;
      color: #ffffff; }
    .contacto_css .contact_form .formulario p {
      font-size: 20px;
      font-weight: 600;
      color: #ffffff; }
    .contacto_css .contact_form .aviso {
      font-size: 13px;
      color: #ffffff; }
    .contacto_css .contact_form ::placeholder {
      color: #a8a8a8; }
    .contacto_css .contact_form input:focus,
    .contacto_css .contact_form textarea:focus {
      outline: 0;
      border: 1px solid #97d848; }

/** LOGIN **/
.signupFrm {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background-image: url(../img/fondo1.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: contain; }
  .signupFrm form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2); }
    .signupFrm form .title {
      font-size: 50px;
      margin-bottom: 50px; }
    .signupFrm form .inputContainer {
      position: relative;
      height: 45px;
      width: 90%;
      margin-bottom: 17px; }
      .signupFrm form .inputContainer input {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        border: 1px solid #ae58ff;
        border-radius: 7px;
        font-size: 16px;
        padding: 0 20px;
        outline: none;
        background: none;
        z-index: 1; }
        .signupFrm form .inputContainer input:focus + .label {
          top: -7px;
          left: 3px;
          z-index: 10;
          font-size: 14px;
          font-weight: 600;
          color: purple;
          background-color: transparent; }
        .signupFrm form .inputContainer input:not(:placeholder-shown) + .label {
          top: -7px;
          left: 3px;
          z-index: 10;
          font-size: 14px;
          font-weight: 600; }
        .signupFrm form .inputContainer input:focus {
          border: 2px solid purple; }
      .signupFrm form .inputContainer .label {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 0 4px;
        background-color: white;
        color: grey;
        font-size: 16px;
        transition: 0.5s;
        z-index: 0; }
      .signupFrm form .inputContainer ::placeholder {
        color: transparent; }
    .signupFrm form .submitBtn {
      display: block;
      margin-left: auto;
      padding: 15px 30px;
      border: none;
      background-color: purple;
      color: white;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 30px; }
      .signupFrm form .submitBtn:hover {
        background-color: #9867C5;
        transform: translateY(-2px); }

footer {
  background-image: url(../img/prism.png); }
  footer .logo {
    width: 300px;
    margin: 0% auto; }
  footer .footer-container {
    font-size: 15px;
    padding-left: 10%;
    font-family: 'Inter', sans-serif; }
    footer .footer-container .iconos {
      padding-right: 10%; }
      footer .footer-container .iconos a {
        padding: 2%;
        -webkit-transition: 0.5s linear;
        transition: 0.5s linear; }
        footer .footer-container .iconos a:hover {
          -webkit-transform: scale(0.6);
          transform: scale(0.6); }
  footer p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
    margin-bottom: 0%;
    font-family: 'Inter', sans-serif;
    font-weight: 300; }

/** HERO **/
@media screen and (max-width: 850px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hero .img-novedad img {
      width: 100%; }
    .hero .novedad {
      text-align: center; } }

/** SUSCRIBIRSE **/
@media screen and (max-width: 880px) {
  .container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px; }
    .container-1 p {
      font-size: 15px; }
    .container-1 .novedad,
    .container-1 .suscribir,
    .container-1 .presentacion__parrafo p {
      width: 100%;
      text-align: center;
      font-size: 16px; } }

@media (max-width: 500px) {
  a img {
    max-width: 80%; } }

/** TARJETAS PRODUCTOS **/
@media screen and (max-width: 768px) {
  .card {
    width: 100%; } }

@media screen and (max-width: 450px) {
  .card {
    width: 100%; } }

/** PAGE GALERIA **/
@media screen and (max-width: 480px) {
  .imagen_final {
    grid-column-end: span 2; } }

@media screen and (max-width: 480px) {
  .imagen_alta {
    grid-row-end: span 2;
    width: 100%; } }

@media screen and (max-width: 480px) {
  .logos {
    grid-column-end: span 2; } }

@media screen and (max-width: 480px) {
  section .grid_galeria {
    grid-template-columns: 1 1fr; } }

@media screen and (max-width: 480px) {
  section .grid_galeria {
    grid-template-columns: 1fr 1fr; } }

/** PAGE NOSOTROS **/
@media (min-width: 750px) {
  .nosotros {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .titulo,
  .parrafo {
    flex: 1;
    padding: 29px;
    display: flex;
    align-items: initial; }
  .imagen-nosotros {
    display: flex;
    align-items: center; } }

@media screen and (max-width: 1330px) {
  .imagen-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .parrafo {
    margin-top: 20px; } }
