footer {
    background-image: url(../img/prism.png);

    .logo {
        width: 300px;
        margin: 0% auto;
    }



    .footer-container {
        font-size: 15px;
        @extend %flex;
        padding-left: 10%;
        font-family: 'Inter', sans-serif;

        .iconos {
            @extend %flex;
            padding-right: 10%;

            a {
                padding: 2%;
                -webkit-transition: 0.5s linear;
                transition: 0.5s linear;

                &:hover {
                    -webkit-transform: scale(0.6);
                    transform: scale(0.6);
                }
            }
        }


    }

    p {
        @include flex(flex, center, flex-end);
        color: $primary-color;
        margin-bottom: 0%;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
    }
}