
header {
    .navbar {
        --bs-navbar-brand-margin-end: 20% !important;
    }

    nav {

        background-image: url(../img/prism.png);

        .navbar-brand {
            color: $primary-color;
            font-size: 30px;
            font-family: 'Inter', sans-serif;
            margin-left: 10px;

            .logo {
                
                display: inline-block;
            }

            span {
                font-weight: bold;
            }
        }



        .collapse {
            .navbar-collapse {
                ul {
                    li {
                        a {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .navbar-brand:hover {
            color: $primary-color;
        }

        .nav-link:focus,
        .nav-link:hover {
            color: var(--bs-nav-link-hover-color);
            color: yellow;
        }

        .navbar-toggler:focus {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.50);
        }

        .navbar-toggler {
            background-color: rgba(138, 138, 138, 0.548);
        }

        .nav-link {
            color: $primary-color;
            font-size: 20px;
        }

        .dropdown-item {
            color: rgb(0, 0, 0);
        }

        ul {
            .dropdown-menu {
                font-size: 20px;
                --bs-dropdown-bg: #ffd400d9;
                --bs-dropdown-link-hover-bg: #7e31dd4f;
            }
        }

        .d-flex {
            display: flex;
            align-items: center;
        }

        .btn {
            color: $primary-color;
            --bs-btn-bg: #00000045;
        }
    }
}