
header {
   
    .navbar {
        --bs-navbar-brand-margin-end: 20% !important;
    }

    nav {

        background-image: url(../img/prism.png);

        .navbar-brand {
            color: $primary-color;
            font-size: 30px;
            font-family: 'Inter', sans-serif;
            margin-left: 10px;

            .logo {
                width: 300px;
                display: inline-block;
            }

            span {
                font-weight: bold;
            }
        }




        .navbar-toggler:focus {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.50);
        }

        .navbar-toggler {
            background-color: rgba(138, 138, 138, 0.548);
        }

        .nav-link {
            color: $primary-color;
            font-size: 20px;
        }

        .dropdown-item {
            color: rgb(255, 255, 255);
        }

        ul {
            .dropdown-menu {
                font-size: 20px;
                --bs-dropdown-bg: #000000d9;
                --bs-dropdown-link-hover-bg: #fbff0dd5;
            }
        }

        .d-flex {
            display: flex;
            align-items: center;
        }

        .btn {
            color: $primary-color;
            --bs-btn-bg: #00000045;
        }
    }

}