.hero {

    .novedad {
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        color: black;
        background-image: url(../img/fondo1.jpg);
        background-position: center;
        background-size: contain;
        align-items: center;
        flex-wrap: wrap;
        overflow-x: hidden;

        h3 {
            @extend %flex;
            font-size: nth($font-size, 4);
            color: yellow;
            text-decoration: lightness($color: #ffffff);
            font-weight: bold;
            font-style: italic;
            flex-wrap: wrap;
            



        }

        a {
            @include button-styles;
            font-family: 'Inter', sans-serif;
            padding: 15px;
            border-radius: 20px;
            text-decoration: none;
            
        }
    }

    .container-1 {
        @include flex (flex, start, center);
        margin-top: 30px;
        padding: 5%;
        background: rgba(255, 255, 255, 0.459);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.295) 0%, rgba(10, 6, 22, 0.7791491596638656) 20%, rgba(0, 0, 0, 1) 50%, rgba(10, 6, 22, 0.7931547619047619) 80%, rgb(255, 255, 255) 100%);

        .presentacion__parrafo {
            .welcome {
                color: $secondary-color;
                font-family: 'Inter', sans-serif;
                font-weight: 900;
            }

            p {
                text-align: center;
                font-family: 'Inter', sans-serif;
                color: rgb(174, 174, 174);
                font-size: 20px;
                font-weight: bold;
            }
        }

        .suscribir {

            p {
                padding: 20px;
                font-family: 'Inter', sans-serif;
                font-size: nth($font-size, 2);
                color: #e3d267;
                margin: 0%;
                padding-bottom: 0%;
                text-align: center;

            }

            a {
                @include button-styles;
                font-family: 'Inter', sans-serif;
                padding: 20px;
                border-radius: 20px;
                display: inline-block;
                text-decoration: none;
                margin: 25%;
                margin-bottom: 50px;
                margin-top: 0%;
            }
        }
    }
}

.productos {
    @include flex (flex, space-evenly, normal);
    flex-wrap: wrap;
    margin: 5%;

    .card {
        width: 18rem;
        margin-bottom: 20px;
        text-align: center;
        box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75);

        .card-img-top {
            height: 230px;
            object-fit: contain;

        }

        .card-body {

            a {
                text-decoration: none;
            }
        }

        .card-text {
            color: rgb(53, 196, 53);
            text-align: center;
            font-size: 15px;
        }
    }
}

.popular {
    margin: 20px;

    p {
        text-align: center;
        color: $primary-color;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
    }
}

.varios {
    ul {
        @include flex(flex, space-around, center);
        list-style: none;
        

        img {
            width: 100px;
            margin: 0% auto;
        }
    }
}

/** PAGE GALERIA **/

.grid_galeria {
    @include flex(grid, center, normal);
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 10px;
    margin: 20px auto;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .img_galeria {
        img {
            @include img-styles;
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.75);
        }
    }
}

/** PAGE NOSOTROS **/

.nosotros {

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    display: flex;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    align-items: start;

    .titulo,
    .parrafo {
        flex: 1;
        font-weight: bolder;
        text-align: center;
        font-family: 'Inter', sans-serif;
        color: black;
        font-size: 20px;
        padding: 20px;

    }

    .titulo {
        font-weight: bold;

    }

    .parrafo {
        font-weight: normal;

    }
}

.mapa {
    @extend %flex;

}

/** PAGE CONTACTO **/

.contacto_css {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-image: url(../img/fondo_oscuro.png);
    background-size: cover;
    background-repeat: no-repeat;
    @extend %flex;

    .contact_form {
        width: 100%;
        max-width: 460px;
        border-radius: 10px;
        padding: 30px;
        background-color: #0000001a;

        .formulario {

            input,
            textarea {
                width: 100%;
                height: 40px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid $tertiary-color;
                margin-top: 10px;
                margin-bottom: 20px;
            }

            textarea {
                height: 150px;
                padding-top: 15px;
            }

            label {
                display: block;
                text-align: center;

            }

            button {
                height: 45px;
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 20px;
                margin-top: 10px;
                text-transform: uppercase;
                background-color: black;
                border-color: $tertiary-color;
                border-style: solid;
                border-radius: 10px;
                width: 100%;
                cursor: pointer;

                p {
                    color: rgb(176, 7, 255);
                    padding-top: 10px;
                }
            }

            h1 {
                font-family:'Inter', sans-serif;
                font-size: nth($font-size, 5);
                text-align: center;
                padding-bottom: 20px;
                color: rgb(176, 7, 255);
            }

            h3 {
                font-size: 16px;
                padding-bottom: 30px;
                color: $primary-color;
            }

            p {
                font-size: 20px;
                font-weight: 600;
                color: $primary-color;
            }

            }

            .aviso {
                font-size: 13px;
                color: #ffffff;

            }

            ::placeholder {
                color: #a8a8a8;
            }

            input:focus,
            textarea:focus {
                outline: 0;
                border: 1px solid #97d848;
            }

        }
    }


/** LOGIN **/

.signupFrm {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-image: url(../img/fondo1.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    @extend %flex;

    form {
        background-color: white;
        width: 400px;
        border-radius: 8px;
        padding: 20px 40px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

        .title {
            font-size: 50px;
            margin-bottom: 50px;
        }

        .inputContainer {
            position: relative;
            height: 45px;
            width: 90%;
            margin-bottom: 17px;

            input {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                border: 1px solid $tertiary-color;
                border-radius: 7px;
                font-size: 16px;
                padding: 0 20px;
                outline: none;
                background: none;
                z-index: 1;

                &:focus+.label {
                    top: -7px;
                    left: 3px;
                    z-index: 10;
                    font-size: 14px;
                    font-weight: 600;
                    color: purple;
                    background-color: transparent;

                }

                &:not(:placeholder-shown)+.label {
                    top: -7px;
                    left: 3px;
                    z-index: 10;
                    font-size: 14px;
                    font-weight: 600;
                }

                &:focus {
                    border: 2px solid purple;
                }
            }

            .label {
                position: absolute;
                top: 15px;
                left: 15px;
                padding: 0 4px;
                background-color: white;
                color: grey;
                font-size: 16px;
                transition: 0.5s;
                z-index: 0;
            }

            ::placeholder {
                color: transparent;
            }
        }

        .submitBtn {
            display: block;
            margin-left: auto;
            padding: 15px 30px;
            border: none;
            background-color: purple;
            color: white;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 30px;

            &:hover {
                background-color: #9867C5;
                transform: translateY(-2px);
            }
        }
    }
}