/*! TIPOGRAFIA */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Press+Start+2P&display=swap');

/*! RESET */
* {
    margin: 0;
    padding: 0;
}

body {


    h2 {
        @include button-styles;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        padding: 2%;
        color: $primary-color;
        border-radius: 50px;
        margin: 0 auto;
        max-width: fit-content;
        text-align: center;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(10, 6, 22, 0.7791491596638656) 20%, rgba(0, 0, 0, 1) 50%, rgba(10, 6, 22, 0.7931547619047619) 80%, rgba(255, 255, 255, 1) 100%);

    }

}

span {
    color: $tertiary-color;
    font-weight: bold;
}

/* WHATSAPP */

.fixed {
    position: fixed;
    bottom: 25%;
    right: 5%;


    a {

        img {
            width: 50px;
            -webkit-transition: 0.5s linear;
            transition: 0.5s linear;

            &:hover {

                -webkit-transform: scale(0.8);
                transform: scale(0.8);
            }
        }
    }

}

.boton {
    background-color: map-get($boton, bg-boton);
    border: map-get($boton, border-boton);
    color: map-get($boton, color-text);
}