/*! TIPOGRAFIA */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

/*! RESET */
* {
    margin: 0;
    padding: 0;
}

body {
    h2 {
        @include button-styles;
        font-family: 'Rubik Mono One', sans-serif !important;
        font-size: 30px;
        padding: 2%;
        color: $secondary-color;
        border-radius: 50px;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 10px;
        max-width: fit-content;
        text-align: center;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, #ba18ffc2 0%, rgba(10, 6, 22, 0.7791491596638656) 20%, rgba(0, 0, 0, 1) 50%, rgba(10, 6, 22, 0.7931547619047619) 80%, #ba18ffde 100%);

    }

}

.triangle {
    position: relative;
    background: #2c3e50;
    height: 5vh;
}

.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 100px 0 100px;
    border-color: #2c3e50 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(20%);
}

.main-productos-abajo {
    h2{
    font-family: 'Rubik Mono One', sans-serif !important;

    }
    background-color: black;
    padding: 30px;
    p{
      
        color: white;
        text-align: center;
    }
}

/* WHATSAPP */

.fixed {
    position: fixed;
    bottom: 5%;
    right: 5%;


    a {

        img {
            width: 50px;
            -webkit-transition: 0.5s linear;
            transition: 0.5s linear;

            &:hover {

                -webkit-transform: scale(0.8);
                transform: scale(0.8);
            }
        }
    }

}

.boton {
    background-color: map-get($boton, bg-boton);
    border: map-get($boton, border-boton);
    color: map-get($boton, color-text);
}