/*! TIPOGRAFIA **/ 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Press+Start+2P&display=swap');

/*! RESET **/
* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(174, 88, 255);
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}

span {
    color: rgb(174, 88, 255);
    font-weight: bold;
}