/** HERO **/

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .img-novedad img {
        width: 100%;

    }

    .novedad {
        text-align: center;
    }
}

/** SUSCRIBIRSE **/

@media screen and (max-width: 768px) {
    .container-1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .novedad,
    .suscribir,
    .presentacion__parrafo {
        width: 100%;
        text-align: center;
    }
}

/** TARJETAS PRODUCTOS **/

@media screen and (max-width: 768px) {
    .card {
        width: 100%;

    }
}

@media screen and (max-width: 450px) {
    .card {
        width: 100%;

    }
}

/** PAGE GALERIA **/

@media screen and (max-width: 480px) {
    .imagen_final {
        grid-column-end: span 2;
    }
}

@media screen and (max-width: 480px) {
    .imagen_alta {
        grid-row-end: span 2;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .logos {
        grid-column-end: span 2;
    }
}

@media screen and (max-width: 480px) {
    section .grid_galeria {
        grid-template-columns: 1 1fr;

    }
}

@media screen and (max-width: 480px) {
    section .grid_galeria {
        grid-template-columns: 1fr 1fr;
    }
}

/** PAGE NOSOTROS **/


@media (min-width: 768px) {

    .nosotros {
        flex-direction: row;
        justify-content: center;
    }

    .titulo,
    .parrafo {
        flex: 1;
        padding: 50px;
    }
}

@media (max-width: 990px) {
    .nosotros {
        flex-direction: column;
        align-items: center;
    }

    .titulo,
    .parrafo {
        padding: 20px;
    }
}