$primary-color: #ffffff;
$secondary-color: #ff1fff;
$tertiary-color: rgb(174, 88, 255);
$color-separador: #a8b2ffba;
$color-letra-titulo: #4d5fff;
$link-hover-color: #7e31dd4f;
$navbar-bg-color: rgba(138, 138, 138, 0.548);
$btn-bg-color: #00000045;


/* LISTAS */

$font-size: 10px, 20px, 30px, 40px, 50px;

/* MAPAS */

$boton: (
    bg-boton: rgb(0, 0, 0),
    border-boton: 1px solid $secondary-color,
    color-text: $secondary-color,
);

/* EXTEND */

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MIXIN */

@mixin flex($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align ;
}

@mixin button-styles {
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    text-decoration: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        color: #4D5FFF !important;
        transition: all 0.2s ease;
        transform: translateY(-7px);
    }
}

@mixin img-styles {
    margin: 1px;
    border-radius: 15px;
    background-color: #000000;
    -webkit-transition: 1s linear;
    transition: 0.5s linear;

    &:hover {
        border-radius: 100px;

    }
}

